################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JwtSwaggerHc
/JwtSwaggerHc.API
/JwtSwaggerHc.Dashboard
/JwtSwaggerHc.Client/bin/Debug/net5.0
/JwtSwaggerHc.Client/obj
